<configuration>

    <!-- Configuração do console para logs de DEBUG e acima -->
    <appender name="saidaPadrao" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuração do arquivo de log para logs de ERROR e acima -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.RouxG.crm.app.negocio" level="DEBUG" />
    <logger name="org.hibernate" level="WARN" />


    <root level="INFO">
        <appender-ref ref="saidaPadrao" />
        <appender-ref ref="FILE" />
    </root>

</configuration>